*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    background-color: black;
    /*禁止文字選取*/
    user-select: none;
}

body {
    width: 1440px;
    max-height: 999999px;
    margin: auto;
    background: url(../img/background.png)center top no-repeat fixed;
}

/*隱藏滾動軸*/
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

#header {
    width: 1440px;
    height: 48px;
}

section {
    position: relative;
}

.hide {
    opacity: 0;
}

.first {
    width: 1344px;
    height: 460px;
    margin: 79px 48px 158px 48px;
    opacity: 0;
}

.wrap {
    position: relative;
}

.first .wrap {
    width: 607px;
    height: 310px;
    background: url(../img/world_title_bg.png) center top no-repeat;
    left: 726px;
    top: 150px;
}

.text-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 35px;
}

.title {
    position: absolute;
    font-family: Romanesco, cursive;
    font-size: 120px;
    color: #FFFFFF;
    line-height: 155px;
    left: 2px;
    top: -143px;
}

.side {
    position: absolute;
    width: 351px;
    height: 33px;
    top: -33px;
    left: 300px;
    background-color: rgba(114,149,240,.5);
}

.side-text {
    position: absolute;
    font-size: 35px;
    font-family: Rochester, cursive;
    color: #FFFFFF;
    line-height: 45px;
    top: -27px;
    left: -10px;
}

.text {
    width: 100%;
    height: 100%;
}

.text p {
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    align-items: center;
}

.enlarge {
    transition: all .3s ease-out;
}

.enlarge:hover {
    transform: scale(1.1,1.1);
}

.first-img {
    position: absolute;
    top: 5px;
    left: 0;
    border: 5px solid #FFFFFF;
    overflow: hidden;
}

.second {
    width: 1344px;
    height: 474px;
    margin: 79px 48px 158px 48px;
}

.second .wrap, .third .wrap {
    width: 570px;
    height: 365px;
    background: url(../img/world_paragraph_bg.png) center top no-repeat;
    left: 52px;
    top: 109px;
}

.fir-p {
    position: absolute;
    font-family: Rochester, cursive;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 90px;
    left: -52px;
    top: -107px;
    text-align: center;
}

.second-img, .third-img {
    position: absolute;
    top: 19px;
    left: 674px;
    border: 5px solid #FFFFFF;    
    overflow: hidden;
}

.third {
    width: 1344px;
    height: 474px;
    margin: 295px 48px 158px 48px;
}

.sec-p {
    position: absolute;
    font-family: Rochester, cursive;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 103px;
    width: 948px;
    left: 165px;
    top: -109px;
    text-align: center;
}

#footer {
    width: 1440px;
    height: 92px;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    display: none;
    opacity: 0;
}

.content {
    position: absolute;
    height: 633px;
    width: 960px;
    top: 61px;
    left: 288px;
}

.content img {
    margin: auto;
    border: 0;
    width: 960px;
}

.exit {
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 60px;
    height: 60px;
    top:40px;
    left: 1350px;
    border-radius: 100%;
    transition: all .5s;
}

.exit:hover {
    background-color: rgba(240, 204, 112, .5);
    filter:invert(100%);
}

.exit img {
    width: 65%;
}

button {    
    cursor: pointer;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
}

button img {
    width: 60px;
}

.return-btn {
    position: fixed;
    z-index: 10;
    width: 60px;
    height: 60px;
    top: 90%;
    left: 92%;
    display: none;
}

.return-btn img {
    width: 100%;
    opacity: .3;
    cursor: pointer;
    transition: all .2s;
}

.return-btn img:hover {
    opacity: 1;
}